



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
        .box-div {
          background: rgba(224, 224, 224, 0.4);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          backdrop-filter: blur(5.5px);
          font-family: 'Roboto', sans-serif;
          -webkit-backdrop-filter: blur(5.5px);
          border-radius: 10px;
          border: 1px solid rgba(255, 255, 255, 0.18);
      }
      .profile-div {
          background: rgba(255, 255, 255, 1);
          box-shadow: 0 8px 20px 0 rgba(124, 124, 124, 0.37);
          backdrop-filter: blur(4px);
          font-family: 'Roboto', sans-serif;
          -webkit-backdrop-filter: blur(5.5px);
          
          /* border: 1px solid rgba(255, 255, 255, 0.18); */
      }
      .box-div-hello {
          background: rgba(218, 218, 218, 0.4);
          box-shadow: 0 8px 8px 0 rgba(31, 38, 135, 0.37);
          backdrop-filter: blur(5.5px);
          font-family: 'Roboto', sans-serif;
          -webkit-backdrop-filter: blur(5.5px);
          border-radius: 10px;
          border: 1px solid rgba(255, 255, 255, 0.18);
      }
      .above-footer{
          background-image: url('./assets/footer.jpg');
        

          background-repeat: no-repeat;
      }
      .base_bg{
          background-image: url('./assets/banner.png');
        

          background-repeat: no-repeat;
      }
      .hidden-dash {
          /* display: none !important; */
          width: 0px;
          padding: 0px;

          -webkit-transition: width 0.2s linear;
          -moz-transition: width 0.2s linear;
          -ms-transition: width 0.2s linear;
          -o-transition: width 0.2s linear;
          transition: width 0.2s linear;
      }

      .open-dash {
          width: 21rem !important;
          padding: 2.5rem;

          -webkit-transition: width 0.2s linear;
          -moz-transition: width 0.2s linear;
          -ms-transition: width 0.2s linear;
          -o-transition: width 0.2s linear;
          transition: width 0.2s linear;
      }
      .dash::-webkit-scrollbar {
          display: none;
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }

      .header {
        transition: background-color .2s;
      }
      .header.scrolled {
        background-color: rgba(255, 255, 255, 1);
      }